* {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
	max-width: min(1000px, 96vw);
	margin-block: 30px;
	margin-inline:auto;
	margin-bottom: 100px;
}